html {
  background-color: aquamarine;
  text-align: center;
}

body {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: 
    "topLeft  topLeft  title  title  topRight  topRight"
    "regPlay  regPlay  turns  turns  record    record "
    "regPlay  regPlay  board  board  record    record "
    "midLeft  midLeft    board  board  record    record "
    "botLeft  botLeft  result  result  botRight  botRight"
    "lFooter  lFooter  reset reset rFooter  rFooter"
  ;
}

button {
  border-radius: 8px;
}

#titleHeader {
  grid-area: title;
}

#playersForm {
  grid-area: regPlay;
  display: grid;
  grid-template-rows: repeat(3, 50px);
  grid-template-columns: repeat(4, 100px);
}
#playersForm button {
  grid-area: 1 / 2 / 2 / 4;
  height: 40px;
  width: 80%;
  justify-self: center;
}
#setPlayers {
  grid-area: 2 / 2 / 3 / 4;
}
#setPlayers {
  margin: 10px;
}

#turn {
  grid-area: turns;
}

#board {
  grid-area: board;
  font-size: 3em;
}

#record {
  grid-area: record;
}

#resultMessage {
  grid-area: result;
}

#reset {
  grid-area: reset;
  align-self: center;
  justify-self: center;
  height: 50%;
  width: 50%;
}

/* table {
  border-collapse: separate;
  border-spacing: 15px;
}

tr {
  border-spacing: 10px;
}

td {
  border: 3px solid rgb(0, 9, 90);
  padding: 10px;
} */